In [7]:
# Type Casting
# is a process of converting one data type into another data type

# intValue ---> string
# str(intValue)

# floatValue ---> string
# str(floatValue)

# intValue --> float
# float(intValue)

# floatValue --> int
# int(floatValue)

# boolValue --> string
# str(boolValue)

# integer value --> string
age = 19
print(age, type(age))

age = str(age)
print(age, type(age))

# float value --> int
result = 90.000445642
print(result, type(result))

result = int(result)
print(result, type(result))

19 <class 'int'>
19 <class 'str'>
90.000445642 <class 'float'>
90 <class 'int'>

In [8]:
# Taking and user input
# input() built in function used to take user input

# input(prompt/message)

name = input('Enter your name : ')
print('Welcome User :', name)

Enter your name : Wira
Welcome User : Wira

In [9]:
print('Enter Your Email Address')
email = input()
print('Your Email Address is ', email)

Enter Your Email Address
adz@gmail.com
Your Email Address is  adz@gmail.com

In [11]:
# input() function treat every input as STRING by default
# if involve digit number, need to type masking to int.
val1 = int(input('Enter First Value :'))
val2 = int(input('Enter Second Value :'))

res = val1+val2
print('After Addition : ',res)  #If input not converted to int, it will become string concatenation, instead of addition

Enter First Value :30
Enter Second Value :50
After Addition :  80

In [19]:
# Exercise

name = input('Name : ')
age = int(input('Age : '))
# age=age+1
print('Hi ',name,'Next Year You will be ',age+1,'year old')
print(f'Hi {name}, Next Year you will be {age+1} year old')

Name : John
Age : 18
Hi  John Next Year You will be  19 year old
Hi John, Next Year you will be 19 year old

In [34]:
# Operators
# Are used to perform operations on variables

# Arithmetic Operators + - * / %  // **

a = 90
b = 5

print(a+b)
print(a-b)
print(a*b)
print(a/b)    # Division Operator return value in FLOAT
print(a//b)   # Division Operator return value in INTEGER
print(a%b)    # gives a remainder (baki dari bahagi)
print(a**b)   # a raise to the power of b [90 raise to the power of 5]

95
85
450
18.0
18
0
5904900000

In [ ]:
# point to be remember
# in python we don't have increment or decrement operator
a = 100
a = a + 1
print(a)

# a++   a--

In [37]:
# Assignment Operator
a = 90    # A as 90
print(a)

# Compound assigment operator
val = 100
val *= 2    # val = val * 2
print(val)

90
200

In [44]:
# Comparison Operator
# <  >  <=  >=  ==  !=
# Returns Value in Boolean [True / False]

print(90>100)
print(20!=10)
print(900==900)

age = 19
print(age>18)

False
True
True
True

In [52]:
# Logical operator
# AND OR NOT

# AND operator requires more than one condition
# AND operator returns TRUE only when both the conditions are TRUE

#print(100==100 and 50>100)

nat = input('Nationality : ')
age = int(input('Age : '))

print(nat=="Malaysian" or nat=="Singaporean" and age>18)

Nationality : Japanese
Age : 19
False

In [ ]:
# OR operator required more than one condition
# OR operator returs TRUE when both conditions are TRUE
# OR operator returs FALSE when both conditions are FALSE
# OR operator returs TRUE when either one of conditions are TRUE


# OR operator requires more than one condition
# OR operator returns TRUE when both the conditions are TRUE
# OR operator returns TRUE if any one of the conditions is TRUE
# OR operator returns FALSE when both the conditions are FALSE

print(100==100 or 50<100)
#      cond1        cond2
#       true         true


print(100==100 or 50>100)
#      cond1        cond2
#       true        false

print(10==100 or 50>100)
#      cond1        cond2
#      false        False

# NOT operator
# inverse the result
# True --> False     False --> True

print(not(100==100 and 50<100))

In [58]:
# Membership Operator -- used for searching operations
# in not in

name = "John Smith"
print('o' in name)
print('Smith'in name)

# not in
print('J' not in name)  # 'J' does not exist in name
print('s' not in name)  # 's' does not exist in name

True
True
False
True